.place__title{
    margin: 0;

    font-family: 'Inter', 'Helvetica' , sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    /* or 106% */


    color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .place__title{
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .place__title{
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 352px){
  .place__title{
    min-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}