.page{
    padding: 0;
    background-color: #2A2C2F;
    margin: 0 auto;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 1280px){
    
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .page{
        max-width: 1279px;
    
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .page{
        max-width: 1023px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .page{
        max-width: 767px;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px){
    .page{
        max-width: 424px;
    }
}
 