.photo-grid{
    display: grid;
    margin: 92px auto;
}

@media screen and (min-width: 1280px){
    .photo-grid{
        max-width: 1184px;
        grid-template-columns: 284px 284px 284px 284px;
        grid-template-rows: 213px 213px 213px;
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .photo-grid{
        max-width: 928px;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 225px 225px 225px 225px;
        gap: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .photo-grid{
        max-width: 720px;
        grid-template-columns: 352px 352px;
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
    }
}