@media screen and (min-width: 1280px){
    .places{
        max-width: 984px;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .places{
        max-width: 928px;
        margin: auto;
    }
}
