.cover__subtitle{
    max-width: 360px;
    
    margin:0;
    margin-top: 32px;

    align-self: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;


    text-align: center;

    color: #FFFFFF;

}


@media screen and (max-width: 767px){
    .cover__subtitle{
        font-size: 14px;
        line-height: 114%;
    }
}