.cover__subtitle{
    position: absolute;
    top: 57.97%;

    max-width: 360px;

    align-self: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    /* or 122% */

    text-align: center;

    color: #FFFFFF;

}

@media screen and (min-width: 1280px){
    .cover__subtitle{
        left: 34.79%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .cover__subtitle{
        left: 32.42%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover__subtitle{
        left: 26.56%;
    }
}