.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 48px 0 48px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .header{
        padding: 28px 16px 0 16px;
    }
}

