.lead__title{
    max-width: 720px;
    margin: auto;
    margin-bottom: 32px;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    /* or 104% */
    text-align: center;

    color: #FFFFFF;
}

@media screen and (max-width: 767px){
    .lead__title{
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 425){
    .lead__title{
        margin-bottom: 16px;
    }
}