.lead__title{
    max-width: 720px;
    margin: auto;
    margin-bottom: 32px;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;

    color: #FFFFFF;
}