.footer__links{
    display: flex;
    list-style-type: none;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .footer__links{
        flex-direction: column;
    }
}