.place__paragraph{

    margin: 0;
    margin-bottom: 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */


    color: #FFFFFF;
}

.place__paragraph:last-child{
    margin-bottom: 0;
}
