.place__paragraph{

    margin: 0;
    margin-bottom: 24px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */


    color: #FFFFFF;
}

.place__paragraph:last-child{
    margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .place__paragraph{
    font-size: 16px;
    line-height: 163%;
    }
}