.footer__copyright{
    max-width: 186px;
    margin: 0;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: right;

    color: #FFFFFF;
}

@media screen and (max-width: 768px){
    .footer__copyright{
        padding-bottom: 24px;
        line-height: 14px;
    }
}

