.intro{
    min-height: 446px;
    margin: auto;
}

@media screen and (min-width: 1280px){
    .intro{
        max-width: 984px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .intro{
        max-width: 928px;
    }
}