  
.intro{
    min-height: 446px;
    margin: auto;
}

@media screen and (min-width: 1280px){
    .intro{
        max-width: 984px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .intro{
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .intro{
        max-width: 720px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .intro{
        max-width: 767px;
        min-width: 425px;
        margin-right: 16px;
        margin-left: 16px;
    }
}

