.cover{
    position: relative;
    max-width: 1184px;
    margin: 0 auto;
}

.cover::before{
    display: block;
    content: '';
    width: 100%;
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 62.5%;;
}


