.cover__overlay{
    width: 100%;
    min-height: 740px;
    background-color: rgb(0, 0, 0, .3);
    transition: background-color .8s linear;
}

.cover__overlay:hover{
    background-color: rgb(0, 0, 0, .8);
}


