.cover__title{
    max-width: 566px;

    align-self: center;

    margin:0;

    font-family: 'Inter', 'Helvetica' , sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    /* or 106% */

    text-align: center;

    color: #FFFFFF;
}       

@media screen and (max-width: 767px){
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 106%;
    }
}

