.place{
    display: grid;
    row-gap: 48px;
    width: 100%;
    margin-bottom: 80px;
}

.place:last-child{
    margin-bottom: 0;
}

@media screen and (min-width: 1280px){
    .place{
        grid-template-columns: 460px 1fr;
        column-gap: 40px;

    }
}

@media screen and (min-width: 1024) and (max-width: 1279px){
    .place{
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
        margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .place{
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .place{
        grid-template-columns: 320px;
        margin-bottom: 48px;
        row-gap:  32px;
    }
}

@media screen and (min-width: 320px)and (max-width: 424px){
    .place{
        grid-template-columns: 320px;
        margin-bottom: 48px;
        row-gap:  32px;
    }
}

