.place{
    display: grid;
    row-gap: 48px;
    width: 100%;
    margin-bottom: 80px;
}

@media screen and (min-width: 1280px){
    .place{
        grid-template-columns: 460px 1fr;
        column-gap: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place{
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .place{
        grid-template-columns: 340px 1fr;
        column-gap: 28px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .place{
        grid-template-columns: 320px;
        row-gap:  32px;
    }
}