.footer{
    display: flex;
    justify-content: space-between;
    padding: 92px 48px 24px 48px;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .footer{
        padding: 90px 24px 24px 24px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .footer{
        flex-direction: column;
        padding: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 424px){
    .footer{
        flex-direction: column;
        max-width: 186px;
        padding-left: 16px;
    }
}