.footer{
    display: flex;
    justify-content: space-between;
    padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 768px){
    .footer{
        display: flex;
        flex-direction: column;
        padding: 88px 24px 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .footer{
        padding: 64px ;
    }
}