.footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 92px 48px 24px 48px;
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .footer{
        flex-direction: column;
        padding: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 424px){
    .footer{
        flex-direction: column;
        padding: 64px ;
    }
}